<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>432819458653-fe0290t1g3r1kt436gcel4u9sckv0uaq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.432819458653-fe0290t1g3r1kt436gcel4u9sckv0uaq</string>
	<key>API_KEY</key>
	<string>AIzaSyBiFOvc95cC5vfHdYTgJEzmPDRwFLJeCck</string>
	<key>GCM_SENDER_ID</key>
	<string>432819458653</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sakethparimi.weightTracker</string>
	<key>PROJECT_ID</key>
	<string>weight-tracker-6a554</string>
	<key>STORAGE_BUCKET</key>
	<string>weight-tracker-6a554.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:432819458653:ios:8aff90b4603a1c54a433b4</string>
</dict>
</plist>